.expr {
  padding: 1em;
  font-size: 2em;
}

.fixed { color: #777777; }
.r0 { color: #b75e03; }
.r1 { color: #098948; }
.r2 { color: #548404; }
.r3 { color: #7e5cff; }
.r4 { color: #e3057b; }
.r5 { color: #0580b8; }
.r6 { color: #eb0107; }
.r7 { color: #078a0c; }
.r8 { color: #7a7b00; }
.r9 { color: #0174f9; }
.r10 { color: #d205d3; }
.r11 { color: #068589; }

:hover > .name:not(:empty)::after { content: " = "; }

.typename::after { content: " : " }
.typename:empty { display: none; }

.pi > .type::after { content: " ⇒ "; }
.lam > .type::after { content: " → "; }

.func::after { content: " "; }

.arg > .app::before, .arg > .pi::before, .arg > .lam::before, .type > .right::before {
  content: "(";
}
.arg > .app::after, .arg > .pi::after, .arg > .lam::after, .type > .right::after {
  content: ")";
}

.lam:hover, .pi:hover, .app:hover {
  background: rgba(0,0,0,0.05);
}

:not(:hover) > .name:not(:empty) + * { display: none }
:not(:hover) > .name:not(:empty) + * + * { display: none }

.lam, .pi, .app {
  display: inline-block;
}

/*
.type > .pi::before, .type > .app::before, .arg > .app::before, .func > .lam::before, .arg > .lam::before {
  content: "(";
}

.type > .pi::after, .type > .app::after, .arg > .app::after, .func > .lam::after, .arg > .lam::after {
  content: ")";
}
*/

/*
.lam > *:nth-child(1) {
  padding: 0.2em;
}
*/
